<p id="notice"><%= notice %></p>
<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
<li><%= link_to "Edit Profile", edit_user_registration_path, method: :get %></li>
<h1>Entries</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Due date</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <% if entry.user.id == @user %>
        <tr>
          <td><%= entry.content %></td>
          <td><%= entry.due_date %></td>
          <td><%= entry.user_id %></td>
          <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
          <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
