<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @entry.content %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @entry.due_date %>
</p>

<h2>Tags:</h2>
<%= render @entry.tags %>

<h2>Add a tag:</h2>
<%= render 'tags/form' %>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
